h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

div {
    border: 2px solid;
    border-radius: 10px;
}



/* img {
    justify-content: center;
}

.container {
    display: flex;
} */

